* {
  box-sizing: border-box;
}
$select-glay: #999999;
$select-black: #333333;
$select-glay2:#434A54;
$select-skyblue:#38aef0;


.wrapper{
  .sidebox{
    width: 300px;
    background-color: #253141;
    float: left;
    height: 100px;
      &__namebox{
        justify-content: space-between;
        font-weight: bold;
        display: flex;
        color: white;
        align-items: center;
        line-height: 100px;
        padding: 0 20px;
        .link1{
          text-decoration: none;
        }
        .icon{
          color:white;
          margin-left: 0.3rem;
        }
      }
    &__groups{
      height: calc(100vh - 100px);
      background-color: #2f3e51;
      overflow: scroll;
      &__group{
        margin-bottom: 40px;
        padding: 20px 20px;
        .link2{
          text-decoration: none;
        }
        &--name{
          color: white;
          font-size: 15px;
          margin-bottom: 5px;
        }
        &--message{
          color: white;
          font-size: 11px;
          margin-bottom: 5px;
        }
      }
    }
  }
  .mainbox{
    width: calc(100vw - 300px);
    background-color: #ffffff;
    float: left;
    &__header0{
      height: 100px;
      display: flex;
      justify-content: space-between;
      padding: 0 40px;
      &__info{
        margin-top: 35px;
        &--groupname{
          font-size: 20px;
          color: $select-black;
          margin-bottom: 15px;
        }
        &--member{
          font-size: 12px;
          color: $select-glay;
        }
      }
      &__info1{
        &--edit{
          height: 40px;
          line-height: 40px;
          padding: 0 20px;
          margin-top: 30px;
          border: solid 1px $select-skyblue;
          position: absolute;
          right: 40px;
          text-decoration: none;
          &--btn{
            color: $select-skyblue;
            font-size: 16px;
            display: block;
          }
        }
      }
    }
    &__list{
      height: calc(100vh - 100px - 90px);
      background-color: #fafafa;
      padding: 46px 40px;
      overflow: scroll;
      .message{
        padding-bottom: 40px;
        .upper-message{
          display: flex;
          margin-bottom: 12px;
          &__user-name{
            font-size: 16px;
            color: $select-black;
            font-weight: bold;
          }
          &__date{
            font-size: 12px;
            color: $select-glay;
            margin-left: 10px;
          }
        }
        .lower-message{
          font-size: 14px;
          color: $select-glay2;
          margin-bottom: 10px;
        }
      }

    }
    &__form{
      height: 90px;
      background-color: #d2d2d2;
      padding: 20px 40px;
      &__mask{
        display: flex;
        position: relative;
        width: 100%;
        .mask__image{
          font-size: 1.3rem;
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
          .mask__image__file{
            display: none;
          }
        }
      }
      .new_message{
        display: flex;
        .inputbox__text{
          height: 50px;
          width: 100%;
          padding: 0 40px 0 10px;
          color: $select-glay2;
          border-style: none;
          }
          }
          .submit-btn{
            width: 100px;
            height: 50px;
            padding: 0 30px;
            margin-left: 15px;
            background-color: $select-skyblue;
            color: white;
            cursor: pointer;
          }
        }
          
      }
    }